<md-content class="main-content" ng-controller="DeliveryTimeCtrl">
    <md-table-toolbar>
        <div layout="row" layout-xs="column" layout-sm="column" layout-padding layout-align-gt-sm="start center">
            <div layout="row">
                <md-input-container class="md-block no-margin" md-no-float flex>
                    <input type="text" translate-cloak="SEARCH" translate-attr="{ placeholder: 'SEARCH' }"
                        ng-model="query.canonical" ng-keypress="$event.keyCode === 13 && onReload()" />
                </md-input-container>
            </div>
            <span flex></span>
            <div layout="row">
                <md-button class="md-primary md-raised" md-colors="::{ color: 'white' }" aria-label="New"
                    ng-click="onEdit($event)" translate="CREATE" translate-cloak="CREATE">
                </md-button>
            </div>
        </div>
    </md-table-toolbar>
    <md-table-container>
        <table md-table md-progress="promise">
            <thead md-head md-on-reorder="onReorder">
                <tr md-row>
                    <th md-column class="text-center text-uppercase bold" md-order-by="time">
                        <md-icon></md-icon>
                        <span translate="DELIVERY_TIME" translate-cloak="DELIVERY_TIME"></span>
                    </th>
                    <th md-column class="text-center text-uppercase bold">
                        <span translate="ACTIVE" translate-cloak="ACTIVE"></span>
                    </th>
                    <th md-column></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="delivery_time in delivery_times">
                    <td md-cell class="text-center">
                        {{:: delivery_time.time}}
                    </td>
                    <td md-cell class="text-center">
                        <span ng-if="delivery_time.isActive" translate="YES" translate-cloak="YES"></span>
                        <span ng-if="!delivery_time.isActive" translate="NO" translate-cloak="NO"></span>
                    </td>
                    <td md-cell>
                        <section layout="row" layout-align="center center">
                            <md-button class="md-icon-button md-primary" ng-click="onEdit($event, delivery_time)"
                                aria-label="Edit" flex="35">
                                <ng-md-icon icon="mode_edit"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" ng-click="onDelete($event, delivery_time)"
                                aria-label="Delete" flex="35">
                                <ng-md-icon icon="clear"></ng-md-icon>
                            </md-button>
                        </section>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit-options="rowOptions" md-limit="query.limit" md-page="query.page"
        md-total="{{query.total}}" md-on-paginate="onPaginationChange"
        md-label="{ rowsPerPage: '{{ 'ROWS_PER_PAGE' | translate }}', of: '{{ 'OF' | translate }}' }">
    </md-table-pagination>
</md-content>