<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= appName %>
  </title>

  <meta name="viewport" content="width=device-width">

  <link rel="icon" type="image/png" href="<%= favicon %>" sizes="32x32" />

  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">

  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css" />
  <link rel="stylesheet" href="/bower_components/angular-material-data-table/dist/md-data-table.min.css" />
  <link rel="stylesheet" href="/bower_components/trix/dist/trix.css">
  <link rel="stylesheet" href="/bower_components/smartphoto/css/smartphoto.min.css">
  <link rel="stylesheet" href="/bower_components/ImageViewer/imageviewer.css">
  <link rel="stylesheet" href="/bower_components/angular-moment-picker/dist/angular-moment-picker.css">
  <link rel="stylesheet" href="/bower_components/ng-material-datetimepicker/dist/material-datetimepicker.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">

</head>

<body class="<%= page === 'login' ? 'bg-image' : '' %>" layout="column" ng-app="main" md-scroll-y ng-controller="MainCtrl"
  ng-cloak>
  <section id="section" layout="row" flex>
    <% if (user) { %>
      <md-sidenav id="side-menu" md-colors="::{ background: 'dark', color: 'white' }" md-component-id="leftMenu"
        md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar md-colors="::{background: 'dark'}">
          <span flex></span>
          <div layout="column" class="md-toolbar-tools-bottom inset">
            <h5 translate-cloak="HI">
              <span translate="HI"></span>
              <%= user.username %>
            </h5>
          </div>
        </md-toolbar>
        <md-content>

          <md-list md-colors="::{background: 'dark', color: 'white'}">

            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('orders') > -1)) { %>

            <md-list-item md-no-ink href="/admin/orders"
              class="<%= page === 'orders' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="ORDERS" translate-cloak="ORDERS"></div>
              <span class="badge" ng-if="orderCount">{{ orderCount }}</span>
            </md-list-item>

            <% } %>

            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('categories') > -1)) { %>

            <md-list-item md-no-ink href="/admin/categories" class="<%= page === 'categories' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="CATEGORIES" translate-cloak="CATEGORIES"></div>
            </md-list-item>

            <% } %>

            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('banners') > -1)) { %>

            <!--<md-list-item md-no-ink href="/admin/banners" class="<%= page === 'banners' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="BANNERS" translate-cloak="BANNERS"></div>
            </md-list-item>-->

            <% } %>

            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('subcategories') > -1)) { %>

            <md-list-item md-no-ink href="/admin/subcategories" class="<%= page === 'subcategories' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="SUB_CATEGORIES" translate-cloak="SUB_CATEGORIES"></div>
            </md-list-item>

            <% } %>

            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('brands') > -1)) { %>

            <!--<md-list-item md-no-ink href="/admin/brands" class="<%= page === 'brands' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="BRANDS" translate-cloak="BRANDS"></div>
            </md-list-item>-->

            <% } %>

            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('coupons') > -1)) { %>

            <md-list-item md-no-ink href="/admin/coupons" class="<%= page === 'coupons' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="COUPONS" translate-cloak="COUPONS"></div>
            </md-list-item>

            <% } %>

            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('items') > -1)) { %>

            <md-list-item md-no-ink href="/admin/items" class="<%= page === 'items' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="ITEMS" translate-cloak="ITEMS"></div>
            </md-list-item>

            <% } %>

            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('combo-item') > -1)) { %>

            <md-list-item md-no-ink href="/admin/combo-item" class="<%= page === 'combo-item' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="COMBOITEMS" translate-cloak="COMBOITEMS"></div>
            </md-list-item>

            <% } %>


            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('reviews') > -1)) { %>

           <!--<md-list-item md-no-ink href="/admin/reviews" class="<%= page === 'reviews' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="REVIEWS" translate-cloak="REVIEWS"></div>
            </md-list-item>-->

            <% } %>

            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('zones') > -1)) { %>

            <md-list-item md-no-ink href="/admin/zones" class="<%= page === 'zones' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="ZONES" translate-cloak="ZONES"></div>
            </md-list-item>

            <% } %>

            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('delivery-times') > -1)) { %>

            <md-list-item md-no-ink href="/admin/delivery-times" class="<%= page === 'delivery-times' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="DELIVERY_TIMES" translate-cloak="DELIVERY_TIMES"></div>
            </md-list-item>

            <% } %>


            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('users') > -1)) { %>

            <md-list-item md-no-ink href="/admin/users" class="<%= page === 'users' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="USERS" translate-cloak="USERS"></div>
            </md-list-item>

            <% } %>

            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('customers') > -1)) { %>

            <md-list-item md-no-ink href="/admin/customers" class="<%= page === 'customers' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="CUSTOMERS" translate-cloak="CUSTOMERS"></div>
            </md-list-item>

            <% } %>

            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('slide_images') > -1)) { %>

            <!--<md-list-item md-no-ink href="/admin/slide-images" class="<%= page === 'slide-images' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="SLIDE_IMAGES" translate-cloak="SLIDE_IMAGES"></div>
            </md-list-item> -->

            <% } %>

            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('notifications') > -1)) { %>

            <md-list-item md-no-ink href="/admin/notifications" class="<%= page === 'notifications' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="NOTIFICATION" translate-cloak="NOTIFICATION"></div>
            </md-list-item>

            <% } %>

            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('pages') > -1)) { %>

            <!-- <md-list-item md-no-ink href="/admin/pages" class="<%= page === 'pages' ? 'active' : '' %>">
              <div class="inset bold text-small" translate="PAGES" translate-cloak="PAGES"></div>
            </md-list-item> -->

            <% } %>

            <% if (user.type === 'super_admin' || (user.type === 'admin' &&
            user.permissions && user.permissions.indexOf('config') > -1)) { %>

            <md-list-item md-no-ink ng-click="onPresentAppConfigView($event)">
              <div class="inset bold text-small" translate="CONFIG" translate-cloak="CONFIG"></div>
            </md-list-item>

            <% } %>

            <md-list-item md-no-ink ng-click="onChangePassword($event)">
              <div class="inset bold text-small" translate="CHANGE_PASSWORD" translate-cloak="CHANGE_PASSWORD"></div>
            </md-list-item>

            <md-divider></md-divider>
            <md-list-item md-no-ink href="/auth/logout" translate-cloak="LOGOUT">
              <div class="inset">
                <ng-md-icon class="icon light" icon="logout" layout="column" layout-align="start center"></ng-md-icon>
              </div>
              <div class="inset bold text-small" translate="LOGOUT"></div>
            </md-list-item>
          </md-list>
        </md-content>
      </md-sidenav>
      <% } %>

        <md-content id="content-page" class="<%= page === 'login' ? 'transparent' : '' %>" layout="column" flex>
          <md-toolbar md-colors="::{background: 'white'}">
            <div class="md-toolbar-tools">
              <% if (user) { %>
                <md-button ng-click="toggle()" aria-label="Menu" hide-gt-md>
                  <ng-md-icon class="icon" icon="menu" layout="column" layout-align="center center">
                  </ng-md-icon>
                </md-button>
              <% } %>
              <img class="logo" src="<%= logo %>" height="40" />

            </div>
          </md-toolbar>
          <md-content flex class="content <%= page === 'login' ? 'transparent' : '' %>">
            <div class="padding" flex>
              <%- body %>
            </div>
          </md-content>
        </md-content>
  </section>

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="/bower_components/angular-material/angular-material.min.js"></script>
  <script src="/bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
  <script src="/bower_components/messageformat/messageformat.min.js"></script>
  <script src="/bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.min.js"></script>
  <script src="/bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
  <script src="/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
  <script src="/bower_components/angular-route/angular-route.min.js"></script>
  <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="/bower_components/parse/parse.min.js"></script>
  <script src="/bower_components/angular-moment/angular-moment.min.js"></script>
  <script src="/bower_components/trix/dist/trix.js"></script>
  <script src="/bower_components/angular-trix/dist/angular-trix.min.js"></script>
  <script src="/bower_components/smartphoto/js/smartphoto.min.js"></script>
  <script src="/bower_components/ImageViewer/imageviewer.min.js"></script>
  <script src="/bower_components/ngstorage/ngStorage.min.js"></script>
  <script src="/bower_components/ng-drag-to-reorder/ngDragToReorder.js"></script>
  <script src="/bower_components/angular-i18n/angular-locale_<%= lang %>.js"></script>
  <script src="/bower_components/angular-moment-picker/dist/angular-moment-picker.js"></script>
  <script src="/bower_components/ng-material-datetimepicker/dist/angular-material-datetimepicker.min.js"></script>
  <script src="/scripts/lib/img-fallback.js"></script>
  <script src="/bower_components/tinymce/tinymce.min.js"></script>
  <script src="/bower_components/angular-ui-tinymce/dist/tinymce.min.js"></script>

  <script>
    angular.module('main', ['ngAnimate', 'ngAria', 'ngMessages', 'ngMaterialDatePicker',
      'pascalprecht.translate', 'ngDragToReorder', 'moment-picker', 'ui.tinymce',
      'ngRoute', 'ngMdIcons', 'md.data.table', 'ngMaterial', 'angularTrix',
      'ngFileUpload', 'imgFallback', 'angularMoment', 'ngStorage', 'ngSanitize'
    ]).run(function ($rootScope, Auth, User, Category, SubCategory, Item, ComboItem, Zone, ItemVariation, Brand, Banner, DeliveryTime) {

      Parse.initialize('<%= appId %>');
      Parse.serverURL = '<%= serverUrl %>';

      DeliveryTime.getInstance();
      User.getInstance();
      Item.getInstance();
      Category.getInstance();
      SubCategory.getInstance();
      Zone.getInstance();
      ItemVariation.getInstance();
      Brand.getInstance();
      Banner.getInstance();
      ComboItem.getInstance();

      $rootScope.currencySymbol = '<%= currency %>';
      $rootScope.lang = '<%= lang %>';

      <% if (user) { %>
        Auth.setSessionToken('<%= user.sessionToken %>');
      <% } else { %>
      if (Auth.getLoggedUser()) {
          Auth.logOut();
        }
      <% } %>

    }).config(function ($mdThemingProvider, $mdDateLocaleProvider, $translateProvider) {

      $translateProvider.useStaticFilesLoader({
        prefix: '/i18n/',
        suffix: '.json'
      });

      $translateProvider.addInterpolation('$translateMessageFormatInterpolation');
      $translateProvider.preferredLanguage('<%= lang %>');
      $translateProvider.fallbackLanguage('en');
      $translateProvider.useSanitizeValueStrategy('escaped');

      $mdDateLocaleProvider.formatDate = function (date) {
        var m = moment(date);
        return m.isValid() ? m.format('DD-MM-YYYY') : '';
      };

        $mdThemingProvider.definePalette('mcgpalette0', {
          '50': 'e1eefb',
          '100': 'b4d4f5',
          '200': '82b8ee',
          '300': '4f9be7',
          '400': '2a85e1',
          '500': '0470dc',
          '600': '0368d8',
          '700': '035dd3',
          '800': '0253ce',
          '900': '0141c5',
          'A100': 'edf2ff',
          'A200': 'baccff',
          'A400': '87a6ff',
          'A700': '6e93ff',
          'contrastDefaultColor': 'light',
          'contrastDarkColors': [
            '50',
            '100',
            '200',
            '300',
            'A100',
            'A200',
            'A400',
            'A700'
          ],
          'contrastLightColors': [
            '400',
            '500',
            '600',
            '700',
            '800',
            '900'
          ]
        });

        var whiteMap = $mdThemingProvider.extendPalette('grey', {
          '500': '#ffffff', 'contrastDefaultColor': 'dark'
        });

        $mdThemingProvider.definePalette('white', whiteMap);

        var dark = $mdThemingProvider.extendPalette('mcgpalette0', {
          '500': '#444', 'contrastDefaultColor': 'white'
        });

        $mdThemingProvider.definePalette('dark', dark);

        $mdThemingProvider.theme('default').primaryPalette('mcgpalette0').accentPalette('grey');
      });
  </script>

  <script src="/scripts/controllers/MainController.js"></script>
  <script src="/scripts/controllers/ResetPasswordController.js"></script>
  <script src="/scripts/controllers/UserController.js"></script>
  <script src="/scripts/controllers/ItemController.js"></script>
  <script src="/scripts/controllers/ZoneController.js"></script>
  <script src="/scripts/controllers/OrderController.js"></script>
  <script src="/scripts/controllers/SliderImagesController.js"></script>
  <script src="/scripts/controllers/NotificationController.js"></script>

  <script src="/scripts/services/UserService.js"></script>
  <script src="/scripts/services/ItemService.js"></script>
  <script src="/scripts/services/ZoneService.js"></script>
  <script src="/scripts/services/OrderService.js"></script>
  <script src="/scripts/services/SliderImagesService.js"></script>
  <script src="/scripts/services/NotificationService.js"></script>

  <script src="/scripts/controllers/AppConfigController.js"></script>
  <script src="/scripts/services/AppConfigService.js"></script>

  <script src="/scripts/controllers/BannerController.js"></script>
  <script src="/scripts/services/BannerService.js"></script>

  <script src="/scripts/controllers/ComboItemController.js"></script>
  <script src="/scripts/services/ComboItemService.js"></script>

  <script src="/scripts/controllers/DeliveryTimeController.js"></script>
  <script src="/scripts/services/DeliveryTimeService.js"></script>

  <script src="/scripts/services/ToastService.js"></script>
  <script src="/scripts/services/ToastService.js"></script>
  <script src="/scripts/services/AuthService.js"></script>
  <script src="/scripts/services/FileUploadService.js"></script>

  <script src="/scripts/controllers/CategoryController.js"></script>
  <script src="/scripts/services/CategoryService.js"></script>
  <script src="/scripts/controllers/SubCategoryController.js"></script>
  <script src="/scripts/services/SubCategoryService.js"></script>

  <script src="/scripts/controllers/ReviewController.js"></script>
  <script src="/scripts/services/ReviewService.js"></script>

  <script src="/scripts/services/ItemVariationService.js"></script>

  <script src="/scripts/controllers/BrandController.js"></script>
  <script src="/scripts/services/BrandService.js"></script>

  <script src="/scripts/controllers/PageController.js"></script>
  <script src="/scripts/services/PageService.js"></script>

  <script src="/scripts/controllers/CouponController.js"></script>
  <script src="/scripts/services/CouponService.js"></script>

  <script src="/scripts/services/OrderLogService.js"></script>

</body>

</html>