<md-content class="main-content" ng-controller="NotificationCtrl">
  <div layout="row" layout-xs="column" layout-sm="column" layout-padding>
    <div flex>

      <form name="form" novalidate>

        <div layout="row">
          <md-input-container flex>
            <label translate="HEADING" translate-cloak="HEADING"></label>
            <textarea required placeholder ng-model="notification.heading" md-maxlength="50" rows="1"></textarea>
            <div ng-messages="form.heading.$error">
              <div ng-message="required" translate="FIELD_REQUIRED" translate-cloak="FIELD_REQUIRED"></div>
            </div>
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container flex>
            <label translate="MESSAGE" translate-cloak="MESSAGE"></label>
            <textarea required placeholder ng-model="notification.message" md-maxlength="150" rows="3"></textarea>
            <div ng-messages="form.message.$error">
              <div ng-message="required" translate="FIELD_REQUIRED" translate-cloak="FIELD_REQUIRED"></div>
            </div>
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container class="md-block">
            <label translate="LINK_TO" translate-cloak="LINK_TO"></label>
            <md-select name="type" ng-change="onTypeChanged()" ng-model="notification.type">
              <md-option ng-value="null" translate="NO_LINK" translate-cloak="NO_LINK"></md-option>
              <!-- <md-option value="brand" translate="BRAND" translate-cloak="BRAND"></md-option> -->
              <md-option value="category" translate="CATEGORY" translate-cloak="CATEGORY"></md-option>
              <md-option value="subcategory" translate="SUBCATEGORY" translate-cloak="SUBCATEGORY"></md-option>
              <md-option value="item" translate="ITEM" translate-cloak="ITEM"></md-option>
            </md-select>
          </md-input-container>
        </div>

        <div layout="row" ng-if="notification.type === 'item'">
          <md-input-container class="md-block" flex>
            <label translate="ITEM" translate-cloak="ITEM"></label>
            <md-autocomplete flex md-no-float md-clear-button="false" md-input-name="item" md-no-cache="true"
              md-selected-item="notification.item" md-search-text="searchItemText" md-items="item in queryItems(searchItemText)"
              md-item-text="item.name" md-require-match>
              <md-item-template>
                <span md-highlight-text="searchItemText">{{ item.name }}</span>
              </md-item-template>
              <md-not-found translate="NO_RESULTS_FOUND" translate-cloak="NO_RESULTS_FOUND">
              </md-not-found>
            </md-autocomplete>
          </md-input-container>
        </div>

        <div layout="row" ng-if="notification.type === 'brand'">
          <md-input-container class="md-block" flex>
            <label translate="BRAND" translate-cloak="BRAND"></label>
            <md-autocomplete flex md-no-float md-clear-button="false" md-input-name="brand" md-no-cache="true"
              md-selected-item="notification.brand" md-search-text="searchBrandText"
              md-items="brand in queryBrands(searchBrandText)" md-item-text="brand.name" md-require-match>
              <md-item-template>
                <span md-highlight-text="searchBrandText">{{ brand.name }}</span>
              </md-item-template>
              <md-not-found translate="NO_RESULTS_FOUND" translate-cloak="NO_RESULTS_FOUND">
              </md-not-found>
            </md-autocomplete>
          </md-input-container>
        </div>

        <div layout="row" ng-if="notification.type === 'category'">
          <md-input-container class="md-block" flex>
            <label translate="CATEGORY" translate-cloak="CATEGORY"></label>
            <md-autocomplete flex md-no-float md-clear-button="false" md-input-name="category" md-no-cache="true"
              md-selected-item="notification.category" md-search-text="searchCategoryText"
              md-items="category in queryCategories(searchCategoryText)" md-item-text="category.name" md-require-match>
              <md-item-template>
                <span md-highlight-text="searchCategoryText">{{ category.name }}</span>
              </md-item-template>
              <md-not-found translate="NO_RESULTS_FOUND" translate-cloak="NO_RESULTS_FOUND">
              </md-not-found>
            </md-autocomplete>
          </md-input-container>
        </div>

        <div layout="row" ng-if="notification.type === 'subcategory'">
          <md-input-container class="md-block" flex>
            <label translate="SUBCATEGORY" translate-cloak="SUBCATEGORY"></label>
            <md-autocomplete flex md-no-float md-clear-button="false" md-input-name="subcategory" md-no-cache="true"
              md-selected-item="notification.subcategory" md-search-text="searchSubCategoryText"
              md-items="subcategory in querySubCategories(searchSubCategoryText)"
              md-item-text="subcategory.name + ' - ' + subcategory.category.name" md-require-match>
              <md-item-template>
                <span md-highlight-text="searchSubCategoryText">
                  {{ subcategory.name }} - {{ subcategory.category.name }}
                </span>
              </md-item-template>
              <md-not-found translate="NO_RESULTS_FOUND" translate-cloak="NO_RESULTS_FOUND">
              </md-not-found>
            </md-autocomplete>
          </md-input-container>
        </div>

        <!-- <div layout="row">
          <md-input-container class="md-block" md-no-float flex>
            <md-chips class="full-width" name="customers" ng-model="notification.users" md-autocomplete-snap="width"
              md-require-match="true" input-aria-label="Customers">
              <md-autocomplete class="full-width" md-no-cache="true" md-search-text="searchText"
                md-items="user in queryUsers(searchText)" md-item-text="user.name"
                placeholder="{{ 'CUSTOMERS' | translate }}">
                <md-item-template>
                  <span md-highlight-text="searchText">
                    {{ user.name }}
                  </span>
                  <span ng-if="user.authData.facebook">(Facebook)</span>
                  <span ng-if="user.authData.google">(Google)</span>
                  <span ng-if="user.authData.apple">(Apple)</span>
                  <span ng-if="!user.authData">({{ user.username }})</span>
                </md-item-template>
              </md-autocomplete>
              <md-chip-template>
                <span>
                  <strong>{{ $chip.name }}</strong>
                </span>
                <span ng-if="$chip.authData.facebook">(Facebook)</span>
                <span ng-if="$chip.authData.google">(Google)</span>
                <span ng-if="$chip.authData.apple">(Apple)</span>
                <span ng-if="!$chip.authData">({{ $chip.username }})</span>
              </md-chip-template>
            </md-chips>
          </md-input-container>
        </div> -->

        <div layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" ng-disabled="!form.$valid" ng-click="onSubmit(form.$valid)">
            <span ng-if="!isSending" translate="SEND" translate-cloak="SEND"></span>
            <span ng-if="isSending" translate="SENDING" translate-cloak="SENDING"></span>
          </md-button>
        </div>

      </form>

    </div>
    <div flex>
      <md-list class="scrollable" flex>
        <md-subheader class="md-sticky" translate="LATEST_NOTIFICATIONS" translate-cloak="LATEST_NOTIFICATIONS">
        </md-subheader>
        <md-list-item class="md-2-line" ng-repeat="notification in notifications track by notification.id">
          <div class="md-list-item-text" layout="column">
            <h3>{{ notification.message }}</h3>
            <p>{{ notification.createdAt | date:'mediumDate' }}</p>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </div>
    </section>

</md-content>