<md-dialog flex="100" flex-gt-xs="50" aria-label="App Config dialog">

  <form name="form" role="form" novalidate>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ 'APP_CONFIG' | translate }}</h2>
        <span flex></span>
        <ng-md-icon aria-label="Close dialog" icon="close" class="icon-close" ng-click="hide()">
        </ng-md-icon>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-tabs md-dynamic-height md-border-bottom>

        <md-tab label="{{ 'ADMIN_PORTAL' | translate }}">

          <md-content layout="column" layout-padding>

            <div>
              <div layout="row" layout-align="start">
                <md-input-container md-no-float class="md-block" flex="70">
                  <label>{{ 'LOGO' | translate }}</label>
                  <input type="text" value="{{ obj.admin.logo.name() }}" disabled>
                </md-input-container>

                <div layout="column" layout-align="start center" flex="30">
                  <ng-md-icon icon="photo_camera" class="photo-camera"
                    ng-class="{ 'icon-active': obj.admin.logo.url() }">
                  </ng-md-icon>
                  <md-button type="button" class="md-raised md-mini" ngf-select="uploadImage('logo', $file)"
                    ngf-accept="'image/*'" ngf-pattern="'image/*'">
                    {{ 'BROWSE' | translate }}
                  </md-button>
                </div>
              </div>
            </div>

            <div>
              <div layout="row" layout-align="start">
                <md-input-container md-no-float class="md-block" flex="70">
                  <label>{{ 'FAVICON' | translate }} (PNG. 32x32px.)</label>
                  <input type="text" value="{{ obj.admin.favicon.name() }}" disabled>
                </md-input-container>

                <div layout="column" layout-align="start center" flex="30">
                  <ng-md-icon icon="photo_camera" class="photo-camera"
                    ng-class="{ 'icon-active': obj.admin.favicon.url() }">
                  </ng-md-icon>
                  <md-button type="button" class="md-raised md-mini" ngf-select="uploadImage('favicon', $file)"
                    ngf-accept="'image/*'" ngf-pattern="'image/*'">
                    {{ 'BROWSE' | translate }}
                  </md-button>
                </div>
              </div>
            </div>

          </md-content>

        </md-tab>

        <md-tab label="{{ 'CHECKOUT_CART' | translate }}">
          <md-content layout="column" layout-padding>

            <div>

              <!-- <div>
                <md-input-container class="md-block" flex flex-gt-xs="50">
                  <label>{{ 'CART_EXPIRATION' | translate }}</label>
                  <input type="number" placeholder ng-model="obj.admin.cartExpiration">
                </md-input-container>
              </div> -->

              <div layout="row">
                <md-input-container class="no-margin">
                  <md-checkbox aria-label="Enable cash on delivery" ng-model="obj.admin.isCodEnabled">
                    {{ 'ENABLE_COD' | translate }}
                  </md-checkbox>
                </md-input-container>

                <md-input-container class="no-margin">
                  <md-checkbox aria-label="Enable card payments" ng-model="obj.admin.isCardEnabled">
                    {{ 'ENABLE_CARD' | translate }}
                  </md-checkbox>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="no-margin">
                  <md-checkbox aria-label="Enable guest checkout" ng-model="obj.admin.isGuestCheckoutEnabled">
                    {{ 'ENABLE_GUEST_CHECKOUT' | translate }}
                  </md-checkbox>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex flex-gt-xs="50">
                  <label>{{ 'MINIMUM_ORDER_AMOUNT' | translate }}</label>
                  <input placeholder type="number" min="0" ng-model="obj.admin.minimumOrderAmount">
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex flex-gt-xs="50">
                  <label>{{ 'MAXIMUM_ORDER_AMOUNT' | translate }}</label>
                  <input placeholder type="number" min="0" ng-model="obj.admin.maximumOrderAmount">
                </md-input-container>
              </div>

              <!-- <p class="md-subhead bold">{{ 'STRIPE_SETTINGS' | translate }}</p>

              <div layout="row">
                <md-input-container class="md-block" flex flex-gt-xs="50">
                  <label>{{ 'SECRET_KEY' | translate }}</label>
                  <input placeholder type="text" ng-model="obj.stripe.secretKey">
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex flex-gt-xs="50">
                  <label>{{ 'CURRENCY' | translate }}</label>
                  <input placeholder type="text" ng-model="obj.stripe.currency">
                  <span class="md-caption link" ng-click="openStripeCurrencies()">
                    {{ 'SUPPORTED_CURRENCIES' | translate }}
                  </span>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex flex-gt-xs="50">
                  <label>{{ 'CHARGE_DESCRIPTION' | translate }}</label>
                  <input placeholder type="text" ng-model="obj.stripe.chargeDescription">
                  <span class="md-caption">{{ 'SUPPORTED_TAGS' | translate }}: %CUSTOMER_NAME%, %ORDER_NUMBER%</span>
                </md-input-container>
              </div> -->

            </div>

          </md-content>
        </md-tab>

        <md-tab label="{{ 'ABOUT' | translate }}">
          <md-content layout="column" layout-padding>
            <div layout="row">
              <md-input-container class="no-margin">
                <md-checkbox aria-label="Enable cash on delivery" ng-model="obj.checkout.isTodayTomEnable">
                  {{ 'ENABLE_TODAY_TOMORROW' | translate }}
                </md-checkbox>
              </md-input-container>
            </div>

              <div>
                <md-input-container class="md-block">
                  <label>{{ 'GENERAL_SHIPPING' | translate }}</label>
                  <input placeholder name="general_shipping" type="number" ng-model="obj.checkout.general_shipping">
                </md-input-container>
              </div>


              <p class="md-body-1 no-margin">{{ 'ABOUT' | translate }}</p>

              <trix-editor angular-trix ng-model="obj.about.description">
              </trix-editor>

              <div>
                <md-input-container class="md-block">
                  <label>{{ 'CONTACT_EMAIL' | translate }}</label>
                  <input placeholder name="email" type="text" ng-model="obj.about.email">
                </md-input-container>
              </div>

              <md-input-container flex>
                <label>{{ 'CONTACT_PHONE' | translate }}</label>
                <input placeholder name="phone" type="text" ng-model="obj.about.phone">
              </md-input-container>
              <md-input-container flex>
                <label>{{ 'FACEBOOK' | translate }}</label>
                <input placeholder name="facebook" type="text" ng-model="obj.about.facebook">
              </md-input-container>
              <md-input-container flex>
                <label>{{ 'INSTAGRAM' | translate }}</label>
                <input placeholder name="instagram" type="text" ng-model="obj.about.instagram">
              </md-input-container>
              <md-input-container flex>
                <label>{{ 'YOUTUBE' | translate }}</label>
                <input placeholder name="youtube" type="text" ng-model="obj.about.youtube">
              </md-input-container>
          </md-content>
        </md-tab>

        <!-- <md-tab label="{{ 'EMAIL_SETTINGS' | translate }}">
          <md-content layout="column" layout-padding>

            <div>

              <div layout="row">
                <md-input-container class="md-block" flex flex-gt-xs="50">
                  <label>{{ 'EMAIL_FROM_ADDRESS' | translate }}</label>
                  <input type="text" placeholder ng-model="obj.email.fromAddress">
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex flex-gt-xs="50">
                  <label>{{ 'EMAIL_FOOTER' | translate }}</label>
                  <input type="text" placeholder ng-model="obj.email.footer">
                </md-input-container>
              </div>

              <p class="bold md-subhead">{{ 'EMAIL_NEW_ORDER' | translate }}</p>

              <div layout="row">
                <md-input-container class="md-block" flex flex-gt-xs="50">
                  <label>{{ 'EMAIL_FOR_NOTIFICATIONS_OF_NEW_ORDERS' | translate }}</label>
                  <input type="email" placeholder ng-model="obj.email.addressForNewOrders">
                </md-input-container>
              </div>

              <md-input-container>
                <label>{{ 'SUBJECT' | translate }}</label>
                <input type="text" placeholder ng-model="obj.email.subjectForNewOrders">
                <span class="md-caption">{{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%, %ORDER_TOTAL%, %CUSTOMER_NAME%</span>
              </md-input-container>

              <md-input-container class="md-block">
                <label>{{ 'BODY' | translate }}</label>
                <textarea ng-model="obj.email.bodyNewOrder" rows="3" placeholder ui-tinymce="tinymceOptions"></textarea>
                <span class="md-caption">
                  {{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%, %ORDER_TOTAL%, %CUSTOMER_NAME%
                </span>
              </md-input-container>

              <md-input-container class="no-margin">
                <md-checkbox aria-label="Show order details" ng-model="obj.email.detailsNewOrder">
                  {{ 'SHOW_ORDER_DETAILS' | translate }}
                </md-checkbox>
              </md-input-container>

              <p class="bold md-subhead">{{ 'ORDER_CONFIRMATION' | translate }}</p>

              <md-input-container>
                <label>{{ 'SUBJECT' | translate }}</label>
                <input type="text" placeholder ng-model="obj.email.subjectOrderConfirmation">
                <span class="md-caption">{{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%, %ORDER_TOTAL%, %CUSTOMER_NAME%</span>
              </md-input-container>

              <md-input-container class="md-block">
                <label>{{ 'BODY' | translate }}</label>
                <textarea ng-model="obj.email.bodyOrderConfirmation" rows="3" placeholder ui-tinymce="tinymceOptions"></textarea>
                <span class="md-caption">
                  {{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%, %ORDER_TOTAL%, %CUSTOMER_NAME%
                </span>
              </md-input-container>

              <md-input-container class="no-margin">
                <md-checkbox aria-label="Show order details" ng-model="obj.email.detailsOrderConfirmation">
                  {{ 'SHOW_ORDER_DETAILS' | translate }}
                </md-checkbox>
              </md-input-container>

              <p class="bold md-subhead">{{ 'ORDER_IN_PROCESS' | translate }}</p>

              <md-input-container>
                <label>{{ 'SUBJECT' | translate }}</label>
                <input type="text" placeholder ng-model="obj.email.order_subject_in_process">
                <span class="md-caption">{{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%, %ORDER_TOTAL%, %CUSTOMER_NAME%</span>
              </md-input-container>

              <md-input-container class="md-block">
                <label>{{ 'BODY' | translate }}</label>
                <textarea ng-model="obj.email.order_body_in_process" rows="3" placeholder ui-tinymce="tinymceOptions"></textarea>
                <span class="md-caption">
                  {{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%, %ORDER_TOTAL%, %CUSTOMER_NAME%
                </span>
              </md-input-container>

              <md-input-container class="no-margin">
                <md-checkbox aria-label="Show order details" ng-model="obj.email.order_details_in_process">
                  {{ 'SHOW_ORDER_DETAILS' | translate }}
                </md-checkbox>
              </md-input-container>

              <p class="bold md-subhead">{{ 'ORDER_PACKED' | translate }}</p>

              <md-input-container>
                <label>{{ 'SUBJECT' | translate }}</label>
                <input type="text" placeholder ng-model="obj.email.order_subject_packed">
                <span class="md-caption">{{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%, %ORDER_TOTAL%, %CUSTOMER_NAME%</span>
              </md-input-container>

              <md-input-container class="md-block">
                <label>{{ 'BODY' | translate }}</label>
                <textarea ng-model="obj.email.order_body_packed" rows="3" placeholder ui-tinymce="tinymceOptions"></textarea>
                <span class="md-caption">
                  {{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%, %ORDER_TOTAL%, %CUSTOMER_NAME%
                </span>
              </md-input-container>

              <md-input-container class="no-margin">
                <md-checkbox aria-label="Show order details" ng-model="obj.email.order_details_packed">
                  {{ 'SHOW_ORDER_DETAILS' | translate }}
                </md-checkbox>
              </md-input-container>

              <p class="bold md-subhead">{{ 'ORDER_SHIPPED_OUT' | translate }}</p>

              <md-input-container>
                <label>{{ 'SUBJECT' | translate }}</label>
                <input type="text" placeholder ng-model="obj.email.order_subject_shipped_out">
                <span class="md-caption">{{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%, %ORDER_TOTAL%, %CUSTOMER_NAME%</span>
              </md-input-container>

              <md-input-container class="md-block">
                <label>{{ 'BODY' | translate }}</label>
                <textarea ng-model="obj.email.order_body_shipped_out" rows="3" placeholder ui-tinymce="tinymceOptions"></textarea>
                <span class="md-caption">
                  {{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%, %ORDER_TOTAL%, %CUSTOMER_NAME%, %TRACKING_NUMBER%, %TRACKING_CARRIER%
                </span>
              </md-input-container>

              <md-input-container class="no-margin">
                <md-checkbox aria-label="Show order details" ng-model="obj.email.order_details_shipped_out">
                  {{ 'SHOW_ORDER_DETAILS' | translate }}
                </md-checkbox>
              </md-input-container>

              <p class="bold md-subhead">{{ 'ORDER_DELIVERED' | translate }}</p>

              <md-input-container>
                <label>{{ 'SUBJECT' | translate }}</label>
                <input type="text" placeholder ng-model="obj.email.order_subject_delivered">
                <span class="md-caption">{{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%, %ORDER_TOTAL%, %CUSTOMER_NAME%</span>
              </md-input-container>

              <md-input-container class="md-block">
                <label>{{ 'BODY' | translate }}</label>
                <textarea ng-model="obj.email.order_body_delivered" rows="3" placeholder ui-tinymce="tinymceOptions"></textarea>
                <span class="md-caption">
                  {{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%, %ORDER_TOTAL%, %CUSTOMER_NAME%
                </span>
              </md-input-container>

              <md-input-container class="no-margin">
                <md-checkbox aria-label="Show order details" ng-model="obj.email.order_details_delivered">
                  {{ 'SHOW_ORDER_DETAILS' | translate }}
                </md-checkbox>
              </md-input-container>

              <p class="bold md-subhead">{{ 'ORDER_CANCELLED' | translate }}</p>

              <md-input-container>
                <label>{{ 'SUBJECT' | translate }}</label>
                <input type="text" placeholder ng-model="obj.email.order_subject_cancelled">
                <span class="md-caption">{{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%, %ORDER_TOTAL%, %CUSTOMER_NAME%</span>
              </md-input-container>

              <md-input-container class="md-block">
                <label>{{ 'BODY' | translate }}</label>
                <textarea ng-model="obj.email.order_body_cancelled" rows="3" placeholder ui-tinymce="tinymceOptions"></textarea>
                <span class="md-caption">
                  {{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%, %ORDER_TOTAL%, %CUSTOMER_NAME%, %REASON%
                </span>
              </md-input-container>

              <md-input-container class="no-margin">
                <md-checkbox aria-label="Show order details" ng-model="obj.email.order_details_cancelled">
                  {{ 'SHOW_ORDER_DETAILS' | translate }}
                </md-checkbox>
              </md-input-container>

            </div>

          </md-content>
        </md-tab> -->

        <md-tab label="{{ 'PUSH_SETTINGS' | translate }}">

          <md-content layout="column" layout-padding>

            <div>

              <div layout="row">
                <md-input-container class="md-block" flex flex-gt-xs="60">
                  <label>{{ 'ORDER_PENDING_NOTIFICATION' | translate }}</label>
                  <input type="text" placeholder ng-model="obj.push.order_pending">
                  <span class="md-caption">
                    {{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%
                  </span>
                </md-input-container>
              </div>


              <div layout="row">
                <md-input-container class="md-block" flex flex-gt-xs="60">
                  <label>{{ 'ORDER_IN_PROCESS_NOTIFICATION' | translate }}</label>
                  <input type="text" placeholder ng-model="obj.push.order_process">
                  <span class="md-caption">
                    {{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%
                  </span>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex flex-gt-xs="60">
                  <label>{{ 'ORDER_PACKED_NOTIFICATION' | translate }}</label>
                  <input type="text" placeholder ng-model="obj.push.order_packed">
                  <span class="md-caption">
                    {{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%
                  </span>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex flex-gt-xs="60">
                  <label>{{ 'ORDER_SHIPPED_OUT_NOTIFICATION' | translate }}</label>
                  <input type="text" placeholder ng-model="obj.push.order_shipped_out">
                  <span class="md-caption">
                    {{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%
                  </span>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex flex-gt-xs="60">
                  <label>{{ 'ORDER_DELIVERED_NOTIFICATION' | translate }}</label>
                  <input type="text" placeholder ng-model="obj.push.order_delivered">
                  <span class="md-caption">
                    {{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%
                  </span>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex flex-gt-xs="60">
                  <label>{{ 'ORDER_CANCELLED_NOTIFICATION' | translate }}</label>
                  <input type="text" placeholder ng-model="obj.push.order_cancelled">
                  <span class="md-caption">
                    {{ 'SUPPORTED_TAGS' | translate }}: %ORDER_NUMBER%
                  </span>
                </md-input-container>
              </div>

            </div>

          </md-content>
        </md-tab>

      </md-tabs>


    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="hide()">
        {{ 'CLOSE' | translate }}
      </md-button>
      <md-button type="submit" class="md-raised md-primary" ng-click="onSave()">
        {{ !isSaving ? ('SAVE' | translate) : ('SAVING' | translate) }}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>