<md-dialog flex="100" flex-gt-xs="60" aria-label="dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span ng-if="obj.isNew()">{{ 'NEW' | translate }}</span>
            <span ng-if="!obj.isNew()">{{ 'EDIT' | translate }}</span>
            <span flex></span>
            <ng-md-icon icon="close" class="icon-close" ng-click="onClose()" aria-label="Close dialog">
            </ng-md-icon>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="form" novalidate>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{ 'GENERAL' | translate }}">
                    <div layout="row" layout-xs="column" layout-sm="column" layout-padding>
                        <div flex>
                            <div layout="row">
                                <md-input-container class="md-block" flex>
                                    <label>{{ 'NAME' | translate }}</label>
                                    <input required placeholder name="name" type="text" ng-model="obj.name" />
                                    <div ng-messages="form.name.$error">
                                        <div ng-message="required">
                                            {{ 'FIELD_REQUIRED' | translate }}
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>

                            <!-- <div layout="row">
                                <md-input-container class="md-block" flex>
                                    <label>{{ 'PRICE' | translate }}</label>
                                    <input required placeholder name="price" type="number" min="0"
                                        ng-model="obj.price" />
                                    <div ng-messages="form.price.$error">
                                        <div ng-message="required">
                                            {{ 'FIELD_REQUIRED' | translate }}
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout="row">
                                <md-input-container class="md-block" flex>
                                    <label>{{ 'SALE_PRICE' | translate }}</label>
                                    <input placeholder name="salePrice" type="number" min="0" ng-max="obj.price"
                                        ng-model="obj.salePrice" />
                                </md-input-container>
                            </div>

                            <div layout="row">
                                <md-input-container class="md-block" flex>
                                    <label>{{ 'NET_PRICE' | translate }}</label>
                                    <input placeholder name="netprice" type="number" min="0" ng-max="obj.netprice"
                                        ng-model="obj.netprice" />
                                </md-input-container>
                            </div> -->

                            <div layout="row">
                                <md-chips name="categories" ng-model="categories" md-autocomplete-snap
                                    md-require-match="true" input-aria-label="{{ 'CATEGORY' | translate }}" flex>
                                    <md-autocomplete md-no-cache="true" md-search-text="searchCategory"
                                        md-items="category in queryCategories(searchCategory)"
                                        md-item-text="category.name" placeholder="{{ 'CATEGORY' | translate }}">
                                        <span md-highlight-text="searchCategory">{{ category.name }}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                            <strong>{{ $chip.name }}</strong>
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                            </div>

                            <div layout="row">
                                <md-chips name="subcategories" ng-model="subcategories" md-autocomplete-snap
                                    md-require-match="true" input-aria-label="{{ 'SUBCATEGORY' | translate }}" flex>
                                    <md-autocomplete md-no-cache="true" ng-disabled="!categories.length"
                                        md-search-text="searchSubCategory"
                                        md-items="category in querySubCategories(searchSubCategory)"
                                        md-item-text="category.name" placeholder="{{ 'SUBCATEGORY' | translate }}">
                                        <span md-highlight-text="searchSubCategory">{{ category.name }}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                            <strong>{{ $chip.name }}</strong>
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                            </div>
                        </div>
                        <div flex>
                            <div class="box-picture img-box full-width"
                                ng-style="{ 'background-image': obj.featuredImage ? 'url(' + obj.featuredImage.url() + ')' : 'url(/images/placeholder.jpg)' }">
                            </div>

                            <div class="margin-vertical text-center">
                                <md-button class="md-raised" ng-disabled="isUploading" ngf-pattern="'image/*'"
                                    accept="image/*" ngf-select="onUploadFeaturedImage($file)">
                                    {{ 'SET_FEATURED_IMAGE' | translate }}
                                </md-button>
                            </div>

                            <div layout="row">
                                <div flex>
                                    <md-checkbox ng-model="obj.isFeatured" aria-label="Featured">
                                        {{ 'FEATURED' | translate }}
                                    </md-checkbox>
                                </div>
                            </div>

                            <div layout="row">
                                <div flex>
                                    <md-checkbox ng-model="obj.isNewArrival" aria-label="Is new arrival">
                                        {{ 'NEW_ARRIVAL' | translate }}
                                    </md-checkbox>
                                </div>
                            </div>

                            <div layout="row" class="no-margin no-padding">
                                <md-input-container class="md-block">
                                    <label>{{ 'STATUS' | translate }}</label>
                                    <md-select name="status" aria-label="Status" required ng-model="obj.status">
                                        <md-option value="Active">{{ 'ACTIVE' | translate }}</md-option>
                                        <md-option value="Inactive">{{ 'INACTIVE' | translate }}</md-option>
                                    </md-select>
                                    <div ng-messages="form.status.$error">
                                        <div ng-message="required">
                                            {{ 'FIELD_REQUIRED' | translate }}
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>

                            <md-chips class="full-width" ng-model="tags" name="tags" md-separator-keys="separatorKeys"
                                secondary-placeholder="{{ 'TAG_PLACEHOLDER' | translate }}"
                                placeholder="{{ 'ENTER_TAG' | translate }}" input-aria-label="{{ 'TAGS' | translate }}">
                                <md-chip-template>
                                    <strong>{{ $chip }}</strong>
                                </md-chip-template>
                            </md-chips>
                        </div>
                    </div>
                </md-tab>
                <!--   
          <md-tab label="{{ 'DESCRIPTION' | translate }}">
            <div class="padding">
              <trix-editor angular-trix ng-model="obj.description"></trix-editor>
            </div>
          </md-tab> -->

                <md-tab label="{{ 'GALLERY' | translate }}">
                    <div class="padding">
                        <div class="margin-bottom">
                            <md-button class="md-raised" type="button" multiple ngf-select="onUploadImages($files)"
                                ngf-pattern="'image/*'">
                                {{ 'BROWSE' | translate }}
                            </md-button>
                        </div>

                        <p class="md-body-1 padding-horizontal" ng-if="images.length">
                            {{ 'DRAG_AND_DROP_HINT' | translate }}
                        </p>

                        <div class="row gallery" drag-to-reorder-bind="images">
                            <div class="column text-center" dtr-draggable ng-repeat="image in images track by $index">
                                <div class="bg-image" ng-style="{ 'background-image': 'url(' + image.file._url + ')' }">
                                    <md-progress-circular class="md-primary" md-diameter="30"
                                        ng-show="image.isUploading">
                                    </md-progress-circular>
                                    <md-button ng-click="onDeleteImage(image)" *ngIf="image.file"
                                        class="md-icon-button md-primary" aria-label="Delete">
                                        <ng-md-icon icon="clear"></ng-md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-tab>

                <md-tab label="{{ 'COMBO_ITEMS' | translate }}">
                    <md-content class="md-padding" layout="row">
                        <div flex="40">
                            <md-input-container class="md-block" layout="column">
                                <label>{{ 'COMBO_ITEMS' | translate }}</label>
                                <md-select ng-model="item" placeholder="{{ 'COMBO_ITEMS' | translate }}"
                                    ng-model-options="{ trackBy: '$value.id' }">
                                    <md-option ng-repeat="item in items track by item.id" ng-value="item">
                                        {{ item.name }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div flex="40">
                            <md-input-container class="md-block" layout="column">
                                <label>{{ 'QUANTITY' | translate }}</label>
                                <input name="item_quantity" type="number" placeholder="{{ 'QUANTITY' | translate}}"
                                    ng-model="item_quantity">
                            </md-input-container>
                        </div>

                        <div layout="column" layout-align="center center">
                            <md-button ng-click="onComboItemAdd()" class="md-icon-button md-primary text-center"
                                aria-label="Add">
                                <ng-md-icon icon="add"></ng-md-icon>
                            </md-button>
                        </div>
                    </md-content>

                    <md-content layout="row">
                        <md-list flex="80">
                            <md-list-item class="md-2-line" ng-repeat="item in _items">
                                <div class="md-list-item-text">
                                    <h3><b>Name:</b> {{item.name}}</h3>
                                    <p><b>Quantity:</b> {{item.quantity}}</p>
                                </div>
                                <md-button ng-click="onComboItemDelete($index)" class="md-icon-button md-primary"
                                    aria-label="Delete">
                                    <ng-md-icon icon="clear"></ng-md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </md-content>

                </md-tab>
            </md-tabs>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="onClose()">
            {{ 'CLOSE' | translate }}
        </md-button>
        <md-button class="md-primary md-raised" ng-disabled="!form.$valid || isSaving" ng-click="onSubmit(form.$valid)">
            {{ !isSaving ? ('SAVE' | translate) : ('SAVING' | translate) }}
        </md-button>
    </md-dialog-actions>
</md-dialog>