<md-dialog flex="100" flex-gt-xs="30" aria-label="DeliverTime dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span ng-if="obj.isNew()">{{ 'NEW' | translate }}</span>
            <span ng-if="!obj.isNew()">{{ 'EDIT' | translate }}</span>
            <span flex></span>
            <ng-md-icon icon="close" class="icon-close" ng-click="onCancel()" aria-label="Close dialog"></ng-md-icon>
        </div>
    </md-toolbar>
    <md-dialog-content>

        <form name="form" novalidate>

            <div layout="column" layout-padding>

                <md-input-container class="md-block">
                    <label>{{ 'DELIVERY_TIME' | translate }}</label>
                    <input name="time" type="text" placeholder="{{ 'DELIVERY_TIME_DESC' | translate}}" required
                        ng-model="obj.time">
                    <div ng-messages="form.time.$error">
                        <div ng-message="required">{{ 'FIELD_REQUIRED' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block no-margin">
                    <md-checkbox ng-model="obj.isActive" aria-label="Is Active">
                        {{ 'ACTIVE' | translate }}
                    </md-checkbox>
                </md-input-container>

            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="onCancel()">
            {{ 'CLOSE' | translate }}
        </md-button>
        <md-button class="md-primary md-raised" ng-disabled="!form.$valid || isSaving" ng-click="onSubmit(form.$valid)">
            {{ !isSaving ? ('SAVE' | translate) : ('SAVING' | translate) }}
        </md-button>
    </md-dialog-actions>
</md-dialog>