<md-dialog flex="100" flex-gt-xs="60" aria-label="dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span ng-if="obj.isNew()">{{ 'NEW' | translate }}</span>
      <span ng-if="!obj.isNew()">{{ 'EDIT' | translate }}</span>
      <span flex></span>
      <ng-md-icon icon="close" class="icon-close" ng-click="onClose()" aria-label="Close dialog">
      </ng-md-icon>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <form name="form" novalidate>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="{{ 'GENERAL' | translate }}">
          <div layout="row" layout-xs="column" layout-sm="column" layout-padding>
            <div flex>
              <div layout="row">
                <md-input-container class="md-block" flex>
                  <label>{{ 'NAME' | translate }}</label>
                  <input required placeholder name="name" type="text" ng-model="obj.name">
                  <div ng-messages="form.name.$error">
                    <div ng-message="required">{{ 'FIELD_REQUIRED' | translate }}</div>
                  </div>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex>
                  <label>{{ 'PRICE' | translate }}</label>
                  <input required placeholder name="price" type="number" min="0" ng-model="obj.price">
                  <div ng-messages="form.price.$error">
                    <div ng-message="required">{{ 'FIELD_REQUIRED' | translate }}</div>
                  </div>
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex>
                  <label>{{ 'SALE_PRICE' | translate }}</label>
                  <input placeholder name="salePrice" type="number" min="0" ng-max="obj.price" ng-model="obj.salePrice">
                </md-input-container>
              </div>

              <div layout="row">
                <md-input-container class="md-block" flex>
                  <label>{{ 'BAGDE' | translate }}</label>
                  <input placeholder name="bagde" type="text" ng-model="obj.bagde">
                </md-input-container>
              </div>


              <!-- <div layout="row">
                <md-input-container class="md-block" flex>
                  <label>{{ 'BRAND' | translate }}</label>
                  <md-autocomplete md-clear-button="false" md-selected-item="obj.brand" md-no-cache="true"
                    md-require-match="true" md-search-text="searchText" md-items="brand in queryBrands(searchText)"
                    md-item-text="brand.name" md-input-name="brand">
                    <md-item-template>
                      <span md-highlight-text="searchText">
                        {{ brand.name }}
                      </span>
                    </md-item-template>
                    <md-not-found>
                      {{ 'NO_RESULTS_FOUND' | translate }}
                    </md-not-found>
                  </md-autocomplete>
                </md-input-container>
              </div> -->

              <div layout="row">
                <md-chips name="categories" ng-model="categories" md-autocomplete-snap md-require-match="true"
                  input-aria-label="{{ 'CATEGORY' | translate }}" flex>
                  <md-autocomplete md-no-cache="true" md-search-text="searchCategory"
                    md-items="category in queryCategories(searchCategory)" md-item-text="category.name"
                    placeholder="{{ 'CATEGORY' | translate }}">
                    <span md-highlight-text="searchCategory">{{ category.name }}</span>
                  </md-autocomplete>
                  <md-chip-template>
                    <span>
                      <strong>{{ $chip.name }}</strong>
                    </span>
                  </md-chip-template>
                </md-chips>
              </div>

              <div layout="row">
                <md-chips name="subcategories" ng-model="subcategories" md-autocomplete-snap md-require-match="true"
                  input-aria-label="{{ 'SUBCATEGORY' | translate }}" flex>
                  <md-autocomplete md-no-cache="true" ng-disabled="!categories.length" md-search-text="searchSubCategory"
                    md-items="category in querySubCategories(searchSubCategory)" md-item-text="category.name"
                    placeholder="{{ 'SUBCATEGORY' | translate }}">
                    <span md-highlight-text="searchSubCategory">{{ category.name }}</span>
                  </md-autocomplete>
                  <md-chip-template>
                    <span>
                      <strong>{{ $chip.name }}</strong>
                    </span>
                  </md-chip-template>
                </md-chips>
              </div>

            </div>
            <div flex>

              <div class="box-picture img-box full-width"
                ng-style="{ 'background-image': obj.featuredImage ? 'url(' + obj.featuredImage.url() + ')' : 'url(/images/placeholder.jpg)' }">
              </div>

              <div class="margin-vertical text-center">
                <md-button class="md-raised" ng-disabled="isUploading" ngf-pattern="'image/*'" accept="image/*"
                  ngf-select="onUploadFeaturedImage($file)">
                  {{ 'SET_FEATURED_IMAGE' | translate }}
                </md-button>
              </div>

              <div layout="row">
                <div flex>
                  <md-checkbox ng-model="obj.isFeatured" aria-label="Featured">
                    {{ 'FEATURED' | translate }}
                  </md-checkbox>
                </div>
              </div>

              <div layout="row">
                <div flex>
                  <md-checkbox ng-model="obj.notAvailable" aria-label="Not Available">
                    {{ 'NOT_AVAILABLE' | translate }}
                  </md-checkbox>
                </div>
              </div>


              <div layout="row">
                <div flex>
                  <md-checkbox ng-model="obj.isNewArrival" aria-label="Is new arrival">
                    {{ 'NEW_ARRIVAL' | translate }}
                  </md-checkbox>
                </div>
              </div>

              <div layout="row" class="no-margin no-padding">
                <md-input-container class="md-block">
                  <label>{{ 'STATUS' | translate }}</label>
                  <md-select name="status" aria-label="Status" required ng-model="obj.status">
                    <md-option value="Active">{{ 'ACTIVE' | translate }}</md-option>
                    <md-option value="Inactive">{{ 'INACTIVE' | translate }}</md-option>
                  </md-select>
                  <div ng-messages="form.status.$error">
                    <div ng-message="required">{{ 'FIELD_REQUIRED' | translate }}</div>
                  </div>
                </md-input-container>
              </div>

              <md-chips class="full-width" ng-model="tags" name="tags" md-separator-keys="separatorKeys"
                secondary-placeholder="{{ 'TAG_PLACEHOLDER' | translate }}" placeholder="{{ 'ENTER_TAG' | translate }}"
                input-aria-label="{{ 'TAGS' | translate }}">
                <md-chip-template>
                  <strong>{{ $chip }}</strong>
                </md-chip-template>
              </md-chips>

            </div>
          </div>
        </md-tab>

        <md-tab label="{{ 'DESCRIPTION' | translate }}">
          <div class="padding">
            <trix-editor angular-trix ng-model="obj.description"></trix-editor>
          </div>
        </md-tab>

        <md-tab label="{{ 'GALLERY' | translate }}">
          <div class="padding">

            <div class="margin-bottom">
              <md-button class="md-raised" type="button" multiple ngf-select="onUploadImages($files)"
                ngf-pattern="'image/*'">
                {{ 'BROWSE' | translate }}
              </md-button>
            </div>

            <p class="md-body-1 padding-horizontal" ng-if="images.length">{{ 'DRAG_AND_DROP_HINT' | translate }}</p>

            <div class="row gallery" drag-to-reorder-bind="images">
              <div class="column text-center" dtr-draggable ng-repeat="image in images track by $index">
                <div class="bg-image" ng-style="{ 'background-image': 'url(' + image.file._url + ')' }">
                  <md-progress-circular class="md-primary" md-diameter="30" ng-show="image.isUploading">
                  </md-progress-circular>
                  <md-button ng-click="onDeleteImage(image)" *ngIf="image.file" class="md-icon-button md-primary"
                    aria-label="Delete">
                    <ng-md-icon icon="clear"></ng-md-icon>
                  </md-button>
                </div>
              </div>
            </div>

          </div>
        </md-tab>

        <!-- <md-tab label="{{ 'VARIATIONS' | translate }}">
          <md-content class="md-padding">
            <div layout>
              <md-button class="md-raised" ng-click="onAddVariation()">
                {{ 'ADD' | translate }}
              </md-button>
            </div>
            <div layout="row" layout-padding layout-align="start center"
              ng-repeat="variation in obj.variations track by $index">

              <md-input-container class="md-block">
                <label>{{ 'NAME' | translate }}</label>
                <input required placeholder name="name" ng-model="variation.name">
                <div ng-messages="form.name.$error">
                  <div ng-message="required">{{ 'FIELD_REQUIRED' | translate }}</div>
                </div>
              </md-input-container>

              <div>
                <md-checkbox class="no-margin" ng-model="variation.isActive" aria-label="{{ 'ACTIVE' | translate }}">
                  {{ 'ACTIVE' | translate }}
                </md-checkbox>
              </div>

              <div>
                <md-button class="md-warn" ng-click="onRemoveVariation(variation)">
                  {{ 'DELETE' | translate }}
                </md-button>
              </div>

            </div>
          </md-content>

        </md-tab> -->
<!-- 
        <md-tab label="{{ 'RELATED_ITEMS' | translate }}">
          <md-content class="md-padding" layout="column">
            <md-chips name="relatedItems" ng-model="relatedItems" md-autocomplete-snap md-require-match="true"
              input-aria-label="{{ 'RELATED_ITEMS' | translate }}">
              <md-autocomplete md-selected-item="selectedRelatedItem" md-search-text="searchText"
                md-items="item in queryRelatedItems(searchText)" md-item-text="item.name"
                placeholder="{{ 'SEARCH_ITEM' | translate }}">
                <span md-highlight-text="searchText">{{ item.name }}</span>
              </md-autocomplete>
              <md-chip-template>
                <span>
                  <strong>{{ $chip.name }}</strong>
                </span>
              </md-chip-template>
            </md-chips>
          </md-content>
        </md-tab> -->

      </md-tabs>
    </form>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="onClose()">
      {{ 'CLOSE' | translate }}
    </md-button>
    <md-button class="md-primary md-raised" ng-disabled="!form.$valid || isSaving" ng-click="onSubmit(form.$valid)">
      {{ !isSaving ? ('SAVE' | translate) : ('SAVING' | translate) }}
    </md-button>
  </md-dialog-actions>
</md-dialog>