<md-dialog flex="100" flex-gt-xs="60" aria-label="Order dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>{{ 'ORDER_DETAILS' | translate }}</span>
      <span flex></span>
      <ng-md-icon icon="close" class="icon-close" ng-click="onCancel()" aria-label="Close">
      </ng-md-icon>
    </div>
  </md-toolbar>
  <md-dialog-content>

    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab label="{{ 'GENERAL' | translate }}">

        <div layout="row" layout-md="column" layout-xs="column" layout-padding>

          <div flex>
            <h2 class="md-headline">
              {{ 'ORDER' | translate }} #{{ order.number }}
              <!-- <span ng-if="paymentStatus" class="label border-radius"
                ng-class="{ yellow: order.isUnpaid(), green: order.isPaid(), purple: order.isRefunded() }">
                {{ paymentStatus | translate }}
              </span> -->

              <span class="label border-radius"
                ng-class="{ yellow: order.isPending(), purple: order.isInProcess(), blue: order.isPacked(), soft: order.isShippedOut(), green: order.isDelivered(), red: order.isCancelled() }">
                {{ status | translate }}
              </span>
            </h2>

            <p class="md-body-1" ng-if="order.cancellationReason && order.status === 'Cancelled'">
              {{ 'REASON' | translate }}: {{ order.cancellationReason }}
            </p>

            <h3 class="md-title">{{ 'PAYMENT' | translate }}</h3>
            <div layout="row" layout-align="start center" ng-if="order.paymentMethod === 'Cash'">
              <img class="margin-vertical margin-right" width="30" height="30" ng-if="order.paymentMethod === 'Cash'"
                src="/images/cash.png" alt="Cash" />
              <p class="md-body-1">
                <span ng-if="order.paymentMethod === 'Cash'">
                  {{ 'CASH' | translate }}
                </span>
                <span ng-if="order.paymentMethod === 'Card'">
                  {{ 'CARD' | translate }}
                </span>
              </p>
            </div>

            <div layout="row" layout-align="start center" ng-if="order.card">
              <img class="margin-vertical margin-right" width="30" height="30" ng-src="/images/{{ formatBrand() }}.png"
                alt="{{ order.card.brand }}" />
              <p class="md-body-1">
                {{ order.card.brand }}
                &#8226;&#8226;&#8226;&#8226;
                {{ order.card.last4 }}
                <span class="link" ng-if="order.charge" ng-click="onChargeClicked()">
                  - {{ order.charge.id }}
                </span>
              </p>
            </div>

            <md-divider></md-divider>

            <h3 class="md-title">{{ 'CONTACT_INFO' | translate }}</h3>
            <p class="md-body-1">
              {{ order.contact.email }}
            </p>

            <md-divider></md-divider>

            <h3 class="md-title">{{ 'SHIPPING' | translate }}</h3>
            <p class="md-body-1 bold">
              {{ 'NAME' | translate }} : {{ order.shipping.name }}
            </p>
            <div class="md-body-1">
              <p ng-if="order.shipping.address">
                {{ 'ADDRESS' | translate }} : {{ order.shipping.address }},
              </p>
              <p ng-if="order.shipping.city">
                {{ 'CITY' | translate }} : {{ order.shipping.city }},
              </p>
              <p ng-if="order.shipping.zipcode">
                {{ 'ZIPCODE' | translate }} : {{ order.shipping.zipcode }},
              </p>
              <p ng-if="order.shipping.zone.name">
                {{ 'ZONE' | translate }} : {{ zone.name }},
              </p>
              <p ng-if="order.deliverytime">
                {{ 'DELIVERY_TIME' | translate }} : {{ deliverytime.time ? deliverytime.time : order.deliverytime  }},
              </p>
              <p ng-if="order.day">
                {{ 'DAY' | translate }} : {{ order.day  }},
              </p>
            </div>
            <p class="md-body-1">
              {{ 'PHONE' | translate }} : {{ order.shipping.contactNumber }}
            </p>

            <p class="md-body-1" ng-if="order.tracking">
              {{ 'TRACKING_NUMBER' | translate }}: {{ order.tracking.number || '--' }}
            </p>

            <p class="md-body-1" ng-if="order.tracking">
              {{ 'CARRIER' | translate }}: {{ order.tracking.carrier || '--' }}
            </p>

            <md-divider></md-divider>

            <h3 class="md-title">{{ 'CUSTOMER_INFO' | translate }}</h3>

            <div ng-if="!order.customer.isAnonymous()">
              <p class="md-body-1">
                {{ 'NAME' | translate }}: {{ order.customer.name }}
              </p>
              <p class="md-body-1">
                {{ 'USERNAME' | translate }}: {{ order.customer.username }}
              </p>
              <p class="md-body-1" ng-if="order.customer.email">
                {{ 'EMAIL' | translate }}: {{ order.customer.email }}
              </p>
            </div>

            <div ng-if="order.customer.isAnonymous()">
              <p class="md-body-1">
                {{:: 'GUEST' | translate }}
              </p>
            </div>

            <md-divider></md-divider>

            <h3 class="md-title">{{ 'CUSTOMER_LOCATION' | translate }}</h3>

            <a class="md-body-1" ng-if="order.location"
              href="http://maps.google.com/?q={{order.location.lat}},{{order.location.lng}}">
              <md-button class="md-primary md-raised no-margin" md-colors="::{ color: 'white' }" aria-label="Maps"
                translate="GO_TO_MAPS" translate-cloak="GO_TO_MAPS">
              </md-button>
            </a>
            <p class="md-body-1" ng-if="!order.location">
              {{ 'LOCATION' | translate }}: {{ 'NOT_AVA' | translate }}
            </p>
          </div>

          <div flex>

            <md-list-item class="md-3-line margin-vertical secondary-button-padding"
              ng-repeat="item in items track by $index">
              <img class="md-avatar" style="border-radius:10px; width: 80px; height: 80px"
                ng-if="item.featuredImageThumb" ng-src="{{ item.featuredImageThumb.url() }}" alt="{{ item.name }}" />
              <div class="md-list-item-text" layout="column">
                <h3 class="no-margin text-wrap">
                  {{ item.qty }} x {{ item.name }}
                </h3>
                <p ng-if="item.variation">
                  <span class="bold">{{ 'VARIANT' | translate }}:</span>
                  {{ item.variation.name }}
                </p>
                <p class="md-secondary padding-horizontal" ng-if="item.hasOwnProperty('finalAmount')">
                  <span ng-if="item.amount > item.finalAmount">
                    <s class="text-small">
                      {{ item.amount | currency: currencySymbol }}
                    </s>
                    <br />
                    <span>
                      {{ item.finalAmount | currency: currencySymbol }}
                    </span>
                  </span>
                  <span ng-if="item.amount <= item.finalAmount">
                    <span>{{ item.finalAmount | currency: currencySymbol }}</span>
                  </span>
                </p>
                <p class="md-secondary padding-horizontal" ng-if="!item.hasOwnProperty('finalAmount')">
                  {{ item.amount | currency: currencySymbol }}
                </p>
              </div>
            </md-list-item>


            <div ng-repeat="(key, value) in comboItems track by $index">
              <p>
                {{key}}
              </p>
              <md-list-item class="md-3-line margin-vertical secondary-button-padding" ng-repeat="item in value">
                <img class="md-avatar" style="border-radius:10px; width: 80px; height: 80px"
                  ng-if="item.featuredImageThumb" ng-src="{{ item.featuredImageThumb.url() }}" alt="{{ item.name }}" />
                <div class="md-list-item-text" layout="column">
                  <h3 class="no-margin text-wrap">
                    {{ item.qty }} x {{ item.name }}
                  </h3>
                  <p class="md-secondary padding-horizontal" ng-if="item.hasOwnProperty('finalAmount')">
                    <span ng-if="item.amount > item.finalAmount">
                      <s class="text-small">
                        {{ item.amount | currency: currencySymbol }}
                      </s>
                      <br />
                      <span>
                        {{ item.finalAmount | currency: currencySymbol }}
                      </span>
                    </span>
                    <span ng-if="item.amount <= item.finalAmount">
                      <span>{{ item.finalAmount | currency: currencySymbol }}</span>
                    </span>
                  </p>
                  <p class="md-secondary padding-horizontal" ng-if="!item.hasOwnProperty('finalAmount')">
                    {{ item.amount | currency: currencySymbol }}
                  </p>
                </div>
              </md-list-item>
            </div>

            <md-divider></md-divider>

            <div layout="row" class="margin-bottom margin-top">
              <p flex class="md-subhead no-margin">{{ 'SUBTOTAL' | translate }}</p>
              <p class="md-subhead no-margin text-right">
                {{ order.subtotal | currency: currencySymbol }}
              </p>
            </div>

            <div layout="row" class="margin-bottom margin-top" ng-if="order.coupon">
              <p flex class="md-subhead no-margin">
                {{ 'DISCOUNT' | translate }} ({{ order.coupon.name }})
              </p>
              <p class="md-subhead no-margin text-right">
                {{ -order.coupon.amount | currency: currencySymbol }}
              </p>
            </div>

            <div layout="row" class="margin-bottom">
              <p flex class="md-subhead no-margin">{{ 'SHIPPING_FEE' | translate }}</p>
              <p class="md-subhead no-margin text-right">
                {{ order.shippingFee | currency: currencySymbol }}
              </p>
            </div>
            <div layout="row" class="margin-bottom">
              <p flex class="md-subhead no-margin">{{ 'TOTAL' | translate }}</p>
              <p class="md-subhead bold no-margin text-right">
                {{ order.total | currency: currencySymbol }}
              </p>
            </div>
          </div>
        </div>

      </md-tab>

      <!-- <md-tab label="{{ 'LOGS' | translate }}">
        <div layout="row" layout-padding>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Reload" ng-click="loadLogs()">
            <ng-md-icon icon="refresh"></ng-md-icon>
          </md-button>
        </div>
        <md-list flex>
          <md-list-item class="md-3-line" ng-repeat="log in logs" ng-click="null">
            <div class="md-list-item-text" layout="column">
              <p class="bold">
                {{:: log.type | translate:{ number: log.order.number, status: (log.status | translate), name: log.user.name } }}
              </p>
              <p>{{ log.createdAt | date:'dd-MM-yyyy HH:mm:ss' }}</p>
            </div>
          </md-list-item>
        </md-list>

      </md-tab> -->

    </md-tabs>

  </md-dialog-content>
</md-dialog>